@import url('key.css');
@import url('help.css');
body{
	margin:0px;
	padding:0px;
	font-family: 'Hammersmith One', sans-serif;
}

.layout{
	margin: 0px;
	padding:0px 15%;
	box-sizing: border-box;
	width:100%;
	height: 100vh;
	background:url("https://source.unsplash.com/NYrVisodQ2M/1366x768") no-repeat;
	background-size: cover;
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;

}