.clock{
	width:300px;
	height:300px;
	border-radius: 50%;
	border:solid 20px white;
	-webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.63);
	-moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.63);
	box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.6);
	box-sizing: border-box;
	position: absolute;
	left:-webkit-calc(50% - 150px);
	left:-moz-calc(50% - 150px);
	left:calc(50% - 150px);
	top:-webkit-calc(50% - 150px);
	top:-moz-calc(50% - 150px);
	top:calc(50% - 150px);

}
.clock__hour-hand, .clock__minute-hand, .clock__second-hand {
	width:5px;
	height:100px;
	background:white;
	position:absolute;
	left: 50%;
	bottom: 50%;
	border-radius: 2.5px;
	transform-origin: bottom;
	/*transform:rotate(90deg);*/
	/*transition: all 0.05s;*/
	
}
.clock__minute-hand{
	height:110px;
}
.clock__second-hand{
	height:120px;
}