.inbox {
	border: 1px solid rgb(97, 245, 245);
	color: #fff;
	background-color: #0A2129;
  	box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;

}
.inbox__header{
	padding:1em 1em 0px 1em ;
	font-size: 2em;
}
.inbox__content {
	padding:15px;
}
.inbox__item{
	display:flex;
	flex-flow:row nowrap;
	align-items: center;
	border-bottom:1px solid rgb(97, 245, 245);
	
}
.inbox__item p{
	vertical-align: middle;
}

    input:checked + p {
      
      text-decoration: line-through;
    }

    input[type="checkbox"] {
      margin: 20px;
    }